* {
  font-family: 'Open Sans', sans-serif;
  color: #3d3b3b;
  background-color: #fcfcfc;
}

body {
  margin: 5% 10%;
}

strong,
span,
h2 {
  color: black;
}

h1 {
  font-size:larger;
  padding: top 5px;
  padding-bottom:30px;
  margin-left:0;
  margin-right:0;
  text-align:center
}

h2 {
  margin-top: 40px;
}


hr {
  height: 1px;
  background-color: #ccc;
  border: none;
  margin: 20px 0;
  width: 100%;
}

img {
  width:auto;
  max-width:100%;
}

a {
  color: rgb(166, 101, 184);
  text-decoration: none;
}

li {
  line-height: 1.6
}

.hero {
  padding-top:10px;
  padding-bottom:10px;
  margin-left:0;
  margin-right:0;
  text-align:center;
}